html {
  font-size: 10px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 100%;
  min-height: 7.2rem;
  max-height: max-content;
  background-color: #8067b8;
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  padding: 0.8rem 3rem;
  gap: 1.4rem;
  margin-bottom: 1.5rem;
}
::-webkit-input-placeholder {
  color: #fff;
  font-weight: 700;
}

.check {
  content: "\2714";
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: transparent;
  border: 4px solid #fff;
  cursor: pointer;
}

.checkBox label input {
  display: none;
}

.checkBox label input:checked + .check {
  background-color: #6141a6;
  border: 4px solid #6141a6;
  color: #ffffff;
}

.checkBox label input:checked + .check + .content .titleTask {
  color: rgb(253, 202, 249);
  text-decoration: line-through;
}

.checkBox {
  gap: 1.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container label {
  color: #f2f2f2;
  display: flex;
  gap: 1.6rem;
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  overflow-wrap: break-word;
}

.container .content{
  width: 100%;
  max-width: 280px;
}

hr{
  opacity: .1;
}

.content .description{
  font-size: 1.5rem;
}

.tasksContent {
  width: 63.2rem;
  height: 4rem;
}

.deleteTaskButton {
  background: none;
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}
.buttonContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.editTaskButton {
  margin-top: 2px;
  background: none;
  border: none;
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
}
.editTaskButton > svg {
  width: 3rem;
  height: 3rem;
}

.deleteTaskButton:hover {
  color: #6141a6;
}
.editTaskButton:hover {
  color: #6141a6;
}

.checkMark {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: transparent;
  border: 2px solid #4ea8de;
  cursor: pointer;
}

.checkBox label input:checked + .checkMark {
  background-color: #4ea8de;
  color: #ffffff;
}

@media screen and (max-width: 420px){
  .checkBox{
    justify-content: center;
  }
}
