html {
  font-size: 10px;
}
.container {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  width: 100%;
  min-height: 7.2rem;
  max-height: max-content;
  background-color: #8067b8;
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  padding: 0.8rem 3rem;
  gap: 1.4rem;
  margin-bottom: 1.5rem;
  transition: 0.1s;
  -webkit-user-select: none;
}
.container:hover {
  transform: scale(1.01);
}
::-webkit-input-placeholder {
  color: #ffffff85;
  font-weight: 500;
}

.check {
  content: "\2714";
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: transparent;
  border: 3px solid #fff;
  cursor: pointer;
}
.checkBox label {
  display: flex;
}

.checkBox label input {
  display: none;
}
.checkBox label span {
  margin-top: 0.5rem;
}

.checkBox label input:checked + .check {
  background-color: #6141a6;
  border: 4px solid #6141a6;
  color: #ffffff;
}

.checkBox label input:checked + .check + .content .titleTask {
  color: #ffffff93;
  text-decoration: line-through;
}
.titleTask {
  font-size: 2.5rem;
}
.descriptionTask {
  font-size: 1.6rem;
}
.checkBox {
  gap: 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container label {
  color: #f2f2f2;
  display: flex;
  gap: 1.6rem;
  font-size: 2rem;
  font-weight: 500;
  overflow: hidden;
  overflow-wrap: break-word;
}

.content {
  width: 100%;
  max-width: 520px;
}

hr {
  opacity: 0.1;
}

.tasksContent {
  width: 63.2rem;
  height: 4rem;
}

.deleteTaskButton {
  background: none;
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
  margin-top: 0.5rem;
}
.buttonContainer {
  display: flex;
  gap: 4rem;
}
.editTaskButton {
  background: none;
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.4rem;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
  margin-top: 0.5rem;
}
.editTaskButton > svg {
  width: 3rem;
  height: 3rem;
}

.deleteTaskButton:hover {
  color: #6141a6;
}
.editTaskButton:hover {
  color: #6141a6;
}

.checkMark {
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: transparent;
  border: 2px solid #4ea8de;
  cursor: pointer;
}

.checkBox label input:checked + .checkMark {
  background-color: #4ea8de;
  color: #ffffff;
}

@media (max-width: 768px) {
  .titleTask {
    font-size: 1.8rem;
  }
  .descriptionTask {
    font-size: 1.2rem;
  }
  .content {
    max-width: 140px;
  }
  .buttonContainer {
    gap: 0.5rem;
    flex-direction: column;
  }
  .editTaskButton > svg {
    width: 2.2rem;
    height: 2.2rem;
  }
  .editTaskButton {
    margin-top: 0;
  }
  .deleteTaskButton > svg {
    width: 2rem;
    height: 2rem;
  }
  .deleteTaskButton {
    margin-top: 0;
  }
}
