html {
  font-size: 10px;
}

.fundo {
  background-color: #1c1c1c;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  width: 80%;
  max-width: 760px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
}

.imputArea {
  display: flex;
  gap: 8px;
  width: 100%;
}

.imputArea input {
  width: 100%;
  border-radius: 8px;
  color: white;
  border: none;
  background-color: #8067b8;
  padding: 1.6rem;
  font-size: 1.6rem;
}

.header {
  display: flex;
  margin-bottom: 4.3rem;
  margin-top: 4.2rem;
  gap: 1.2rem;
}

.header h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 900;
}

.imputArea button {
  width: 100%;
  max-width: 110px;
  height: 5.25rem;
  border-radius: 8px;
  background-color: #8067b8;
  border: none;
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;
}

.imputArea button:hover {
  background-color: #745ca8;
}

.tasksCount {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  color: #fff;
  margin-top: 2rem;
  font-size: 1.6rem;
  width: 98%;
  font-weight: 700;
}
.tasksCount > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.taskCountNumbers {
  padding: 3px 8px;
  background-color: #8067b8;
  border-radius: 999px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
}

.noTasks {
  border-top: 2px solid #8067b8;
  color: #fff;
  width: 100%;
  font-size: 1.6rem;
  margin-top: 2.4rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.spanBold {
  margin-top: 3rem;
  font-weight: 700;
  font-size: 1.8rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0.5rem;
  }

  .header {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }

  .header h1 {
    font-size: 3rem;
  }

  .imputArea {
    gap: 0.5rem;
  }

  .imputArea input {
    font-size: 1.3rem;
  }

  .imputArea button {
    font-size: 1.3rem;
  }

  .tasksCount div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
  }

  .taskCountNumbers {
    font-size: 1.3rem;
  }

  .spanBold {
    font-size: 1.6rem;
  }
}
