* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(19, 19, 19);
}

body::-webkit-scrollbar-thumb {
  background-color: #8067b8;
  /* color of the scroll thumb */
  border-radius: 20px;
}

textarea:focus,
input:focus {
  outline: 0;
}
